##############################################################
#
# Here are some things you might want to configure
#
##############################################################


#can be 0 or 1
DEBUG=0
#can be ia32 or ia32e
TARGET=ia32

##############################################################
#
# Typical users will not need to change the stuff below here
#
##############################################################
PIN_HOME ?= ..
PIN_ROOT ?= ../..


ifndef KIT
  KIT = 0
endif

ifeq (${KIT},0)

    TARGET_OS=w
    CXX=cl
    CC=cl
    LINK=link
    COPT=/c
    INCOPT=/I
    OUTOPT=/Fo
    DEFOPT=/D
    OPTIMIZE=/O2
    COMPILE_DEBUG=/Zi
    LINK_OUT=/OUT:
    LIBDIR=/LIBPATH:
    MSCL_OPTIONS=/TP /EHsc /GR /nologo
    TARGET_OS_STRING=TARGET_WINDOWS
    FULL_TARGET=${TARGET}_${TARGET}_${TARGET_OS}
    PINTOOL_SUFFIX=.dll
    ifeq ($(TARGET),ia32)
        TARGET_STRING=TARGET_IA32
    else
        TARGET_STRING=TARGET_IA32E
    endif 

    PIN_CXXFLAGS= 
    PIN_CXXFLAGS+=${INCOPT}$(PIN_HOME)/InstLib
    PIN_CXXFLAGS+=${INCOPT}$(PIN_HOME)/Include
    PIN_CXXFLAGS+=${INCOPT}$(PIN_HOME)/Include/gen
    PIN_CXXFLAGS+=${INCOPT}$(PIN_ROOT)/Source/obj/xed/${FULL_TARGET}/gen
    PIN_CXXFLAGS+=${INCOPT}$(PIN_ROOT)/External/Xed/src/include/public
    PIN_CXXFLAGS+=${DEFOPT}USING_XED
    PIN_CXXFLAGS+=${DEFOPT}BIGARRAY_MULTIPLIER=1
    PIN_CXXFLAGS+=${DEFOPT}${TARGET_OS_STRING}
    PIN_CXXFLAGS+=${DEFOPT}${TARGET_STRING}
    PIN_CXXFLAGS+=${MSCL_OPTIONS}

    PIN_LDFLAGS=
    PIN_LDFLAGS+=/nologo
    PIN_LDFLAGS+=/dll
    PIN_LDFLAGS+=/export:main 

    ifeq ($(TARGET),ia32)
        PIN_LDFLAGS+=/machine:x86
    else
        PIN_LDFLAGS+=/machine:x64
    endif
	
    ifeq ($(DEBUG),1)
        PIN_CXXFLAGS+=${COMPILE_DEBUG}
        LINK_DEBUG=/DEBUG /PDB:$(subst .dll,.pdb,$@)
    else
        PIN_CXXFLAGS+=${OPTIMIZE}
        LINK_DEBUG=
    endif
	
	
    PIN_LPATHS=
    PIN_LPATHS+=${LIBDIR}$(PIN_ROOT)/Source/obj/${FULL_TARGET}
    PIN_LPATHS+=${LIBDIR}$(PIN_ROOT)/Source/obj/xed/${FULL_TARGET}
    PIN_LPATHS+=${LIBDIR}$(PIN_ROOT)/External/Pine/Lib_${TARGET}_${TARGET_OS}
    PIN_LPATHS+=${LIBDIR}$(PIN_ROOT)/External/Ntdll/Lib_${TARGET}_${TARGET_OS}
	
    PIN_LIBS=pin.lib libxed.lib pinvm.lib dbghelp.lib

    PIN_LIBNAMES =  $(PIN_ROOT)/Source/obj/${FULL_TARGET}/pin.lib
	
    ifeq ($(TARGET),ia32)
        PIN_LIBS += ntdll-32.lib
    else
        PIN_LIBS += ntdll-64.lib
    endif
	
    PIN = $(PIN_ROOT)/Source/obj/${FULL_TARGET}/pin.exe $(PIN_FLAGS)

else

    PIN = $(PIN_HOME)/Bin/pin.exe $(PIN_FLAGS)

endif



#################################################################

